.spinner-overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(8, 25, 45, 0.45);
  backdrop-filter: blur(8px);

  z-index: 9999;
}

.spinner-image {
  width: 140px;
  height: 140px;
}
